body {
	padding-top: 50px;
	height: 100%;
	background-color: black;
	color: white;
}

.main {
	padding: 2%
}

.nav-item:hover {
	transform: scale(1.01);
}

#logo:hover {
	transform: scale(1.2);
}

#bottom-img {
	width: 100%;
}

.card {
	margin-top: 10px;
	height: 38rem;
}

.card-img-top {
	height: 10rem;
}

#submit-btn {
	position: absolute;
	bottom: 0px;
}
